<html layout:decorate="~{Layout/main}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">

  <aside layout:fragment="aside"  class="main-sidebar sidebar-light-danger elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img
            th:src="${'/images/logo/dci-logo.jpg'}"
            alt="DCI Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light"
    >Portal Management</span
    >
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
<!--        <img-->
<!--                th:src="${'/dist/img/user2-160x160.jpg'}"-->
<!--                class="img-circle elevation-2"-->
<!--                alt="User Image"-->
<!--        />-->
      </div>
      <div class="info">
        <a href="" class="d-block"><span id="userid"></span></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
              class="nav nav-pills nav-sidebar flex-column nav-child-indent"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
      >
      <li sec:authorize="hasAnyRole({'USER','ROLEE','ACCESS','ROLEEACCESS'})" class="nav-item has-treeview"
        th:classappend="${#httpServletRequest.getRequestURI().contains('user-management') ? 'menu-open':''}">
          <a  href="#" class="nav-link"
          th:classappend="${#httpServletRequest.getRequestURI().contains('user-management') ? 'active':''}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              User Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" >
            <li sec:authorize="hasAnyRole({'USER'})" class="nav-item">
              <a th:href="@{/user-management/user}" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/user-management/user' ? 'active':''}">
                <i class="far fa-circle nav-icon"></i>
                <p>User</p>
              </a>
            </li>
            <li sec:authorize="hasAnyRole({'ROLEE'})" class="nav-item">
              <a th:href="@{/user-management/role}" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/user-management/role' ? 'active':''}">
                <i class="far fa-circle nav-icon"></i>
                <p>Role</p>
              </a>
            </li>
            <li sec:authorize="hasAnyRole({'ACCESS'})" class="nav-item">
              <a th:href="@{/user-management/access}" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/user-management/access' ? 'active':''}">
                <i class="far fa-circle nav-icon"></i>
                <p>Access</p>
              </a>
            </li>
            <li sec:authorize="hasAnyRole({'ROLEEACCESS'})" class="nav-item">
              <a th:href="@{/user-management/role-access}" class="nav-link"
                 th:classappend="${#httpServletRequest.getRequestURI() == '/user-management/role-access' ? 'active':''}">
                <i class="far fa-circle nav-icon"></i>
                <p>Role Access</p>
              </a>
            </li>

          </ul>
        </li>
        <li sec:authorize="hasAnyRole({'ASSET','ASSET_VIEWONLY','VMCCTV','VMCCTV_VIEWONLY','VMSYSOPS','VMSYSOPS_VIEWONLY','LICENSE','LICENSE_VIEWONLY','ACCESSORY','ACCESSORY_VIEWONLY','CONSUMABLE','CONSUMABLE_VIEWONLY','APPLICATION','APPLICATION_VIEWONLY','REMOTEACCESS','REMOTEACCESS_VIEWONLY','MASTERDATA'})" class="nav-item has-treeview"
        th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management') ? 'menu-open':''}">
          <a  href="#" class="nav-link"
          th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management') ? 'active':''}">
            <i class="nav-icon fas fa-boxes"></i>
            <p>
              Asset Management<i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" >
            <li sec:authorize="hasAnyRole({'ASSET','ASSET_VIEWONLY'})" class="nav-item">
              <a href="/asset-management/asset" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/asset') ? 'active':''}">
                <i class="fas fa-archive nav-icon"></i>
                <p>Asset</p>
              </a>
            </li>
            <li sec:authorize="hasAnyRole({'VMCCTV','VMCCTV_VIEWONLY','VMSYSOPS','VMSYSOPS_VIEWONLY'})" class="nav-item has-treeview"
                th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/vm') ? 'menu-open':''}">
              <a href="#" class="nav-link"
                 th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/vm') ? 'active':''}">
                <i class="fas fa-desktop nav-icon"></i>
                <p>VM</p><i class="fas fa-angle-left right"></i>
              </a>
              <ul class="nav nav-treeview" >
                <li sec:authorize="hasAnyRole({'VMCCTV','VMCCTV_VIEWONLY'})" class="nav-item">
                  <a href="/asset-management/vm/cctv-nms" class="nav-link"
                     th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/vm/cctv-nms') ? 'active':''}">
                    <i class="fas fa-video nav-icon"></i>
                    <p>CCTV + NMS</p>
                  </a>
                </li>
                <li sec:authorize="hasAnyRole({'VMSYSOPS','VMSYSOPS_VIEWONLY'})" class="nav-item">
                  <a href="/asset-management/vm/sysops" class="nav-link"
                     th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/vm/sysops') ? 'active':''}">
                    <i class="fas fa-cogs nav-icon"></i>
                    <p>SYSOPS</p>
                  </a>
                </li>
              </ul>
            </li>
            <li sec:authorize="hasAnyRole({'LICENSE','LICENSE_VIEWONLY'})" class="nav-item">
              <a href="/asset-management/license" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/license') ? 'active':''}">
                <i class="fas fa-save nav-icon"></i>
                <p>License</p> 
              </a>
            </li>
            <li sec:authorize="hasAnyRole({'ACCESSORY','ACCESSORY_VIEWONLY'})" class="nav-item">
              <a href="/asset-management/accessory" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/accessory') ? 'active':''}">
                <i class="fas fa-toolbox nav-icon"></i>
                <p>Accessory</p>
              </a>
            </li>
            <li sec:authorize="hasAnyRole({'CONSUMABLE','CONSUMABLE_VIEWONLY'})" class="nav-item">
              <a href="/asset-management/consumable" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/consumable' ? 'active':''}">
                <i class="fas fa-hdd nav-icon"></i>
                <p>Consumable</p> 
              </a>
            </li>
            <li sec:authorize="hasAnyRole({'APPLICATION','APPLICATION_VIEWONLY'})" class="nav-item " >
              <a href="/asset-management/application" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/application' ? 'active':''}">
                <i class="fas fa-mouse-pointer nav-icon"></i>
                <p>Application</p> 
              </a> 
            </li>
            <li sec:authorize="hasAnyRole({'REMOTEACCESS','REMOTEACCESS_VIEWONLY'})" class="nav-item">
              <a href="/asset-management/remote-access" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/remote-access' ? 'active':''}">
                <i class="fas fa-laptop-house nav-icon"></i>
                <p>Remote Access</p>
              </a>
            </li>

            <li sec:authorize="hasAnyRole({'MASTERDATA'})" class="nav-item has-treeview"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data') ? 'menu-open':''}"
            >
              <a href="#" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data') ? 'active':''}">
                <i class="fas fa-cube nav-icon"></i>
                <p>Master Data </p><i class="fas fa-angle-left right"></i>
              </a>
              <ul class="nav nav-treeview" >
                <li class="nav-item has-treeview"
                th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/asset') ? 'menu-open':''}">
                  <a href="#" class="nav-link"
                    th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/asset') ? 'active':''}">
                      <i class="fas fa-circle nav-icon"></i>
                      <p>Asset</p><i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview" >
                      <li class="nav-item">
                        <a href="/asset-management/master-data/asset/category" class="nav-link"
                          th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/asset/category') ? 'active':''}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Category</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="/asset-management/master-data/asset/status" class="nav-link"
                          th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/asset/status') ? 'active':''}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Status</p>
                        </a>
                      </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview"
                th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/license') ? 'menu-open':''}">
                  <a href="#" class="nav-link"
                    th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/license') ? 'active':''}">
                      <i class="fas fa-circle nav-icon"></i>
                      <p>License</p><i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview" >
                      <li class="nav-item">
                        <a href="/asset-management/master-data/license/category" class="nav-link"
                          th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/license/category') ? 'active':''}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Category</p>
                        </a>
                      </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview"
                th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/accessory') ? 'menu-open':''}">
                  <a href="#" class="nav-link"
                    th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/accessory') ? 'active':''}">
                      <i class="fas fa-circle nav-icon"></i>
                      <p>Accessory</p><i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview" >
                      <li class="nav-item">
                        <a href="/asset-management/master-data/accessory/category" class="nav-link"
                          th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/accessory/category') ? 'active':''}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Category</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="/asset-management/master-data/accessory/status" class="nav-link"
                          th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/accessory/status') ? 'active':''}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Status</p>
                        </a>
                      </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview"
                th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/consumable') ? 'menu-open':''}">
                  <a href="#" class="nav-link"
                    th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/consumable') ? 'active':''}">
                      <i class="fas fa-circle nav-icon"></i>
                      <p>Consumable</p><i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview" >
                      <li class="nav-item">
                        <a href="/asset-management/master-data/consumable/category" class="nav-link"
                          th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/consumable/category') ? 'active':''}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Category</p>
                        </a>
                      </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview"
                th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/application') ? 'menu-open':''}">
                  <a href="#" class="nav-link"
                    th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/application') ? 'active':''}">
                      <i class="fas fa-circle nav-icon"></i>
                      <p>Application</p><i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview" >
                      <li class="nav-item">
                        <a href="/asset-management/master-data/application/status" class="nav-link"
                          th:classappend="${#httpServletRequest.getRequestURI().contains('/asset-management/master-data/application/status') ? 'active':''}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Status</p>
                        </a>
                      </li>
                    </ul>
                </li>
                <li class="nav-item">
                  <a href="/asset-management/master-data/location" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/master-data/location' ? 'active':''}">
                    <i class="fas fa-map-marker-alt nav-icon"></i>
                    <p>Location</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/asset-management/master-data/supplier" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/master-data/supplier' ? 'active':''}">
                    <i class="fas fa-truck-loading nav-icon"></i>
                    <p>Supplier</p>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a href="/asset-management/master-data/manufacturer" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/master-data/manufacturer' ? 'active':''}">
                    <i class="fas fa-industry nav-icon"></i>
                    <p>Manufacturer</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/asset-management/master-data/room" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/master-data/room' ? 'active':''}">
                    <i class="fas fa-door-open nav-icon"></i>
                    <p>Room</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li sec:authorize="hasAnyRole({'PERFORMANCE'})" class="nav-item has-treeview"
        th:classappend="${#httpServletRequest.getRequestURI().contains('performance') ? 'menu-open':''}">
          <a  href="#" class="nav-link"
          th:classappend="${#httpServletRequest.getRequestURI().contains('performance') ? 'active':''}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Performance
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" >
            <li class="nav-item">
              <a th:href="@{/windows-performance}" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/windows-performance' ? 'active':''}">
                <i class="far fa-circle nav-icon"></i>
                <p>Windows</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/linux-performance}" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/linux-performance' ? 'active':''}">
                <i class="far fa-circle nav-icon"></i>
                <p>Linux</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/mysql-performance}" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/mysql-performance' ? 'active':''}">
                <i class="far fa-circle nav-icon"></i>
                <p>MySQL</p>
              </a>
            </li>
          </ul>
        </li>
        <li sec:authorize="hasAnyRole({'ALERT'})" class="nav-item">
          <a  href="/alert" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == '/alert' ? 'active':''}">
            <i class="nav-icon fas fa-exclamation-triangle"></i>
            <p>
              Alert
            </p>
          </a>
        </li>
        <li sec:authorize="hasAnyRole({'MGMIDDCIVARIABLE','MGMIDDCIVARIABLE_VIEWONLY','MGMIDDCIGROUPVARIABLE','MGMIDDCIGROUPVARIABLE_VIEWONLY','MGMIDDCILEVEL','MGMIDDCILEVEL_VIEWONLY','MGMIDDCIDEVICE','MGMIDDCIDEVICE_VIEWONLY','MGMIDEDGEVARIABLE','MGMIDEDGEVARIABLE_VIEWONLY','MGMIDEDGEGROUPVARIABLE','MGMIDEDGEGROUPVARIABLE_VIEWONLY','MGMIDEDGELEVEL','MGMIDEDGELEVEL_VIEWONLY','MGMIDEDGEDEVICE','MGMIDEDGEDEVICE_VIEWONLY','MGMIDH2VARIABLE','MGMIDH2VARIABLE_VIEWONLY','MGMIDH2GROUPVARIABLE','MGMIDH2GROUPVARIABLE_VIEWONLY','MGMIDH2LEVEL','MGMIDH2LEVEL_VIEWONLY','MGMIDH2DEVICE','MGMIDH2DEVICE_VIEWONLY'})" class="nav-item has-treeview"
        th:classappend="${#httpServletRequest.getRequestURI().contains('/management-id') ? 'menu-open':''}">
          <a  href="#" class="nav-link"
          th:classappend="${#httpServletRequest.getRequestURI().contains('/management-id') ? 'active':''}">
            <i class="nav-icon fas fa-database"></i>
            <p>
              Management ID - IOT<i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" >
            <li sec:authorize="hasAnyRole({'MGMIDDCIVARIABLE','MGMIDDCIVARIABLE_VIEWONLY','MGMIDDCIGROUPVARIABLE','MGMIDDCIGROUPVARIABLE_VIEWONLY','MGMIDDCILEVEL','MGMIDDCILEVEL_VIEWONLY','MGMIDDCIDEVICE','MGMIDDCIDEVICE_VIEWONLY'})" class="nav-item has-treeview"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/management-id/dci') ? 'menu-open':''}">
              <a href="#" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI().contains('/management-id/dci') ? 'active':''}">
                <i class="fas fa-building nav-icon"></i>
                <p>DCI</p><i class="fas fa-angle-left right"></i>
              </a>
              <ul class="nav nav-treeview">
                <li sec:authorize="hasAnyRole({'MGMIDDCIVARIABLE','MGMIDDCIVARIABLE_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/dci/variable" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/dci/variable' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Variable</p>
                </a>
                </li>
                <li sec:authorize="hasAnyRole({'MGMIDDCIGROUPVARIABLE','MGMIDDCIGROUPVARIABLE_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/dci/group-variable" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/dci/group-variable' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Group Variable</p>
                </a>
                </li>
                <li  sec:authorize="hasAnyRole({'MGMIDDCIDEVICE','MGMIDDCIDEVICE_VIEWONLY'})"  class="nav-item">
                  <a href="/management-id/dci/device" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/dci/device' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Device</p>
                </a>
                </li>
                <li sec:authorize="hasAnyRole({'MGMIDDCILEVEL','MGMIDDCILEVEL_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/dci/level" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/dci/level' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Level</p>
                </a>
                </li>
              </ul>
            </li>

            <li sec:authorize="hasAnyRole({'MGMIDEDGEVARIABLE','MGMIDEDGEVARIABLE_VIEWONLY','MGMIDEDGEGROUPVARIABLE','MGMIDEDGEGROUPVARIABLE_VIEWONLY','MGMIDEDGELEVEL','MGMIDEDGELEVEL_VIEWONLY','MGMIDEDGEDEVICE','MGMIDEDGEDEVICE_VIEWONLY'})" class="nav-item has-treeview"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/management-id/edge') ? 'menu-open':''}">
              <a href="#" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI().contains('/management-id/edge') ? 'active':''}">
                <i class="fas fa-building nav-icon"></i>
                <p>EDGE</p><i class="fas fa-angle-left right"></i>
              </a>
              <ul class="nav nav-treeview">
                <li sec:authorize="hasAnyRole({'MGMIDEDGEVARIABLE','MGMIDEDGEVARIABLE_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/edge/variable" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/edge/variable' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Variable</p>
                </a>
                </li>
                <li sec:authorize="hasAnyRole({'MGMIDEDGEGROUPVARIABLE','MGMIDEDGEGROUPVARIABLE_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/edge/group-variable" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/edge/group-variable' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Group Variable</p>
                </a>
                </li>
                <li sec:authorize="hasAnyRole({'MGMIDEDGEDEVICE','MGMIDEDGEDEVICE_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/edge/device" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/edge/device' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Device</p>
                </a>
                </li>
                <li sec:authorize="hasAnyRole({'MGMIDEDGELEVEL','MGMIDEDGELEVEL_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/edge/level" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/edge/level' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Level</p>
                </a>
                </li>
              </ul>
            </li>


            <li sec:authorize="hasAnyRole({'MGMIDH2VARIABLE','MGMIDH2VARIABLE_VIEWONLY','MGMIDH2GROUPVARIABLE','MGMIDH2GROUPVARIABLE_VIEWONLY','MGMIDH2LEVEL','MGMIDH2LEVEL_VIEWONLY','MGMIDH2DEVICE','MGMIDH2DEVICE_VIEWONLY'})" class="nav-item has-treeview"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/management-id/h2') ? 'menu-open':''}">
              <a href="#" class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI().contains('/management-id/h2') ? 'active':''}">
                <i class="fas fa-building nav-icon"></i>
                <p>H2</p><i class="fas fa-angle-left right"></i>
              </a>
              <ul class="nav nav-treeview">
                <li  sec:authorize="hasAnyRole({'MGMIDH2VARIABLE','MGMIDH2VARIABLE_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/h2/variable" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/h2/variable' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Variable</p>
                </a>
                </li>
                <li sec:authorize="hasAnyRole({'MGMIDH2GROUPVARIABLE','MGMIDH2GROUPVARIABLE_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/h2/group-variable" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/h2/group-variable' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Group Variable</p>
                </a>
                </li>
                <li sec:authorize="hasAnyRole({'MGMIDH2DEVICE','MGMIDH2DEVICE_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/h2/device" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/h2/device' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Device</p>
                </a>
                </li>
                <li sec:authorize="hasAnyRole({'MGMIDH2LEVEL','MGMIDH2LEVEL_VIEWONLY'})" class="nav-item">
                  <a href="/management-id/h2/level" class="nav-link"
                  th:classappend="${#httpServletRequest.getRequestURI() == '/management-id/h2/level' ? 'active':''}">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Level</p>
                </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li sec:authorize="hasAnyRole({'LOG'})" class="nav-item">
          <a th:href="@{/audit-trail}" class="nav-link"
             th:classappend="${#httpServletRequest.getRequestURI() == '/audit-trail' ? 'active':''}">
            <i class="fas fa-user-secret nav-icon"></i>
            <p>Audit Trail</p>
          </a>
        </li>
        <li sec:authorize="hasAnyRole({'REQUEST_VM_CCTVNMS','REQUEST_VM_SYSOPS'})" class="nav-item has-treeview"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/request') ? 'menu-open':''}">
          <a href="#" class="nav-link"
             th:classappend="${#httpServletRequest.getRequestURI().contains('/request') ? 'active':''}">
            <i class="fas fa-concierge-bell nav-icon"></i>
            <span id="menu_request" style="display: none" class="badge badge-warning right"></span>
            <p>Request</p><i class="fas fa-angle-left right"></i>
          </a>
          <ul class="nav nav-treeview">

            <li  sec:authorize="hasAnyRole({'REQUEST_VM_CCTVNMS'})" class="nav-item">
              <a href="/request/vm-cctv-nms" class="nav-link"
                 th:classappend="${#httpServletRequest.getRequestURI() == '/request/vm-cctv-nms' ? 'active':''}">
                <i class="fas fa-video nav-icon"></i>
                <span id="menu_request_cctvnms"  style="display: none" class="badge badge-warning right"></span>
                <p>VM CCTV + NMS</p>
              </a>
            </li>
            <li  sec:authorize="hasAnyRole({'REQUEST_VM_SYSOPS'})" class="nav-item">
              <a href="/request/vm-sysops" class="nav-link"
                 th:classappend="${#httpServletRequest.getRequestURI() == '/request/vm-sysops' ? 'active':''}">
                <i class="fas fa-video nav-icon"></i>
                <span id="menu_request_sysops"  style="display: none" class="badge badge-warning right"></span>
                <p>VM SYSOPS</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
</html>
