<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portal Management</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" th:href="${'/images/logo/dci-logo.jpg'}" />
  <!-- Font Awesome -->
  <link rel="stylesheet" th:href="${'/plugins/fontawesome-free/css/all.min.css'}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" th:href="${'/plugins/icheck-bootstrap/icheck-bootstrap.min.css'}">
  <!-- Theme style -->
  <link rel="stylesheet" th:href="${'/dist/css/adminlte.min.css'}">
  <!-- Google Font: Source Sans Pro -->

  <!-- jQuery -->
  <script th:src="${'/plugins/jquery/jquery.min.js'}"></script>
  <!-- Bootstrap 4 -->
  <script th:src="${'/plugins/bootstrap/js/bootstrap.bundle.min.js'}"></script>
  <!-- AdminLTE App -->
  <script th:src="${'/dist/js/adminlte.min.js'}"></script>


  <!-- jquery-validation -->
  <script th:src="${'/plugins/jquery-validation/jquery.validate.min.js'}"></script>
  <script th:src="${'/plugins/jquery-validation/additional-methods.min.js'}"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="index2.html"><b>Portal</b>Management</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
        <div th:if="${auth == false}">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                Invalid email or password
            </div>
        </div>
        
      <p class="login-box-msg">Sign in to start your session</p>

      <form id="frm_login" action="/login" method="post">
        <div class="input-group mb-3">
          <input type="email" name="username" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" id="btn_submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="/oauth2/authorization/google" class="btn btn-block btn-primary">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Gmail
        </a>
      </div>
      <!-- /.social-auth-links -->

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<script>
  const params = new URLSearchParams(window.location.search);
  if (params.has("error")){
    alert("invalid")
  }
</script>
</body>
</html>

