<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portal Management</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Font Awesome -->
    <link rel="shortcut icon" th:href="${'/images/logo/dci-logo.jpg'}" />
    <link
      rel="stylesheet"
      th:href="${'/plugins/fontawesome-free/css/all.min.css'}"
    />
    <!-- Tempusdominus Bbootstrap 4 -->
    <link
      rel="stylesheet"
      th:href="${'/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css'}"
    />
    <!-- iCheck -->
    <link
      rel="stylesheet"
      th:href="${'/plugins/icheck-bootstrap/icheck-bootstrap.min.css'}"
    />
    <!-- JQVMap -->
    <link rel="stylesheet" th:href="${'/plugins/jqvmap/jqvmap.min.css'}" />
    <!-- Theme style -->
    <link rel="stylesheet" th:href="${'/dist/css/adminlte.min.css'}" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      th:href="${'/plugins/overlayScrollbars/css/OverlayScrollbars.min.css'}"
    />
    <!-- Daterange picker -->
    <link
      rel="stylesheet"
      th:href="${'/plugins/daterangepicker/daterangepicker.css'}"
    />
    <!-- summernote -->
    <link
      rel="stylesheet"
      th:href="${'/plugins/summernote/summernote-bs4.css'}"
    />

    <link
      rel="stylesheet"
      th:href="${'/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css'}"
    />
    <link
      rel="stylesheet"
      th:href="${'/plugins/datatables-responsive/css/responsive.bootstrap4.min.css'}"
    />

    <link rel="stylesheet" th:href="${'/plugins/select2/css/select2.min.css'}">
    <link rel="stylesheet" th:href="${'/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css'}">

    <link rel="stylesheet" href="/dist/css/tree.css">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="${'/dist/css/adminlte.min.css'}" />

    <link rel="stylesheet" href="/dist/css/jsonview.scss" />

    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />

    <!-- jQuery -->
    <script th:src="${'/plugins/jquery/jquery.min.js'}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script th:src="${'/plugins/jquery-ui/jquery-ui.min.js'}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge("uibutton", $.ui.button);
    </script>
    <!-- Bootstrap 4 -->
    <script th:src="${'/plugins/bootstrap/js/bootstrap.bundle.min.js'}"></script>

    <!-- DataTables -->
    <script th:src="${'/plugins/datatables/jquery.dataTables.min.js'}"></script>
    <script
      th:src="${'/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'}"
    ></script>
    
<script th:src="${'/plugins/moment/moment.min.js'}"></script>
    <script
      th:src="${'/plugins/datatables-responsive/js/dataTables.responsive.min.js'}"
    ></script>
    <script
      th:src="${'/plugins/datatables-responsive/js/responsive.bootstrap4.min.js'}"
    ></script>
    <script th:src="${'/plugins/select2/js/select2.full.min.js'}"></script>
    <!-- date-range-picker -->
    <script th:src="${'/plugins/daterangepicker/daterangepicker.js'}"></script>
    
    <script th:src="${'/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script
            th:src="${'/plugins/bootstrap-switch/js/bootstrap-switch.min.js'}"
    ></script>

    <script src="/dist/js/tree.js" ></script>
    <script src="/dist/js/jsonview.js" ></script>
    <script src="/dist/js/json-view.js" ></script>
    <script sec:authorize="hasAnyRole({'REQUEST_VM_CCTVNMS','REQUEST_VM_SYSOPS'})" src="/dist/js/request-check.js"></script>
    <script sec:authorize="hasAnyRole({'REQUEST_VM_CCTVNMS','REQUEST_VM_SYSOPS'})" src="/dist/js/websocket-req.js"></script>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed text-sm ">
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
<!--          <li class="nav-item d-none d-sm-inline-block">-->
<!--            <a th:href="@{/}" class="nav-link">Home</a>-->
<!--          </li>-->
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-none d-sm-inline-block">
            <a th:href="@{/logout}" class="nav-link"><i class="fa fa-sign-out-alt"></i> <b>Sign Out</b></a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside layout:fragment="aside"></aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div layout:fragment="header" class="content-header">
          
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section layout:fragment="content" class="content"></section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2022 </strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 2.0
        </div>
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <script>
      $(".select2select").select2();
    </script>
    <!-- ChartJS -->
    <script th:src="${'/plugins/chart.js/Chart.min.js'}"></script>
    <!-- Sparkline -->
    <!-- <script th:src="${'/plugins/sparklines/sparkline.js'}"></script> -->
    <!-- JQVMap -->
    <script th:src="${'/plugins/jqvmap/jquery.vmap.min.js'}"></script>
    <script th:src="${'/plugins/jqvmap/maps/jquery.vmap.usa.js'}"></script>
    <!-- jQuery Knob Chart -->
    <script th:src="${'/plugins/jquery-knob/jquery.knob.min.js'}"></script>
    <!-- InputMask -->
    <script th:src="${'/plugins/moment/moment.min.js'}"></script>
    <script th:src="${'/plugins/inputmask/min/jquery.inputmask.bundle.min.js'}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script
      th:src="${'/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'}"
    ></script>
    <!-- Summernote -->
    <script th:src="${'/plugins/summernote/summernote-bs4.min.js'}"></script>
    <!-- overlayScrollbars -->
    <script
      th:src="${'/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js'}"
    ></script>

    <!-- jquery-validation -->
    <script th:src="${'/plugins/jquery-validation/jquery.validate.min.js'}"></script>
    <script th:src="${'/plugins/jquery-validation/additional-methods.min.js'}"></script>
    <script src="/plugins/toastr/toastr.min.js"></script>

    <!-- AdminLTE App -->
    <script th:src="${'/dist/js/adminlte.js'}"></script>
    <script>
      $(document).ready(function(){
        $.ajax({
          url:"/api/login/authenticate",
          type:"get",
          success:function(res){
            $("#userid").text(res.data.name);
          }
        }).fail(function(){})
      })
    </script>
    <script>

      function loadingBtn(el){
        $(el).prop('disabled', true);
        $(el).find(".fa-circle-notch").show();
      }
      function unloadingBtn(el){
        $(el).prop('disabled', false);
        $(el).find(".fa-circle-notch").hide();
      }
    </script>
    <script src="/dist/js/see-password.js"></script>
  </body>
</html>
