    <html layout:decorate="~{Layout/aside}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <!-- Main content -->
  <div layout:fragment="header" class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Accessory</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <section layout:fragment="content" class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <button sec:authorize="hasAnyRole({'ACCESSORY'})" class="btn btn-success my-2" data-target="#modal_add" data-toggle="modal"> <i class="fas fa-plus-square"></i> New</button>

            <a class="btn btn-outline-info btn-flat btn-sm" href="/export-accessory" target="_blank"><i class="fa fa-file-excel"> Export</i></a>
          <div class="row">
            <div class="col">
              <table id="tbl_data" class="table table-bordered table-hover">
                <thead>
                  <th>ID</th>
                  <th>Accessory Name</th>
                  <th>Asset Tag</th>
                  <th>Status</th>
                  <th>Category</th>
                  <th>Supplier</th>
                  <th>Manufacturer</th>
                  <th>Location</th>
                  <th>Room</th>
                  <th>Owner</th>
                  <th>Type/Model</th>
                  <th>PR Number</th>
                  <th>Purchase Date</th>
                  <th>Purchase Cost</th>
                  <th>Used By</th>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade " sec:authorize="hasAnyRole({'ACCESSORY'})" id="modal_add">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form " id="frm_add" method="post">
              <div class="row">
                  <div class="col-sm-6 form-horizontal">
                    <div class="form-group row">
                      <label class="col-sm-4">Accessory Name</label>
                      <input type="text" name="name" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4">Asset Tag</label>
                      <input type="text" name="assetTag" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4">Owner</label>
                      <input type="text" name="owner" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Category</label>
                      <select  name="accessoryCategoryId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Category">
                          <option ></option>
                          <option  th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}" />
                      </select>
                  </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Supplier</label>
                        <select  name="supplierId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Supplier">
                            <option ></option>
                          <option  th:each="supplier: ${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}" />
                        </select>
                    </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Manufacturer</label>
                      <select  name="manufacturerId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Manufacturer">
                          <option></option>
                          <option  th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Location</label>
                      <select  name="locationId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Location">
                          <option></option>
                          <option  th:each="location: ${locations}" th:value="${location.id}" th:text="${location.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Room</label>
                      <select  name="roomId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Room">
                          <option></option>
                          <option  th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}" />
                      </select>
                  </div>
                  </div>
                  <div class="col-sm-6 form-horizontal">

                      <div class="form-group row">
                          <label class="col-sm-4">Status</label>
                          <select  name="accessoryStatusId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Status">
                              <option></option>
                              <option  th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.name}" />
                          </select>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Type/Model</label>
                          <input type="text" name="model" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">PR Number</label>
                          <input type="text" name="prNumber" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Date </label>
                          <input type="text" name="purchaseDate" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Cost </label>
                          <input type="text" name="purchaseCost" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Qty </label>
                          <input type="number" name="qty" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      
              <button type="button" id="btn_submit_add" onclick="submitAdd(this)"  class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
        </div>
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade "  id="modal_edit">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detail</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" id="frm_edit" >
              
              <input type="hidden" name="id" >
              <div class="row">
                  <div class="col-sm-6 form-horizontal">
                    <div class="form-group row">
                      <label class="col-sm-4">Accessory Name</label>
                      <input type="text" name="name" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                    
                    <div class="form-group row">
                      <label class="col-sm-4">Asset Tag</label>
                      <input type="text" name="assetTag" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4">Owner</label>
                      <input type="text" name="owner" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Category</label>
                      <select  name="accessoryCategoryId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Category">
                          <option></option>
                          <option  th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}" />
                      </select>
                  </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Supplier</label>
                        <select  name="supplierId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Supplier">
                            <option></option>
                          <option  th:each="supplier: ${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}" />
                        </select>
                    </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Manufacturer</label>
                      <select  name="manufacturerId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Manufacturer">
                          <option></option>
                          <option  th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Location</label>
                      <select  name="locationId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Location">
                          <option></option>
                          <option  th:each="location: ${locations}" th:value="${location.id}" th:text="${location.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Room</label>
                      <select  name="roomId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Room">
                          <option></option>
                          <option  th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}" />
                      </select>
                  </div>
                  </div>
                  <div class="col-sm-6 form-horizontal">

                      <div class="form-group row">
                          <label class="col-sm-4">Status</label>
                          <select  name="accessoryStatusId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Status">
                              <option></option>
                              <option  th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.name}" />
                          </select>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Type/Model</label>
                          <input type="text" name="model" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">PR Number</label>
                          <input type="text" name="prNumber" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Date </label>
                          <input type="text" name="purchaseDate" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Cost </label>
                          <input type="text" name="purchaseCost" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Qty </label>
                          <input type="number" name="qty" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div sec:authorize="hasAnyRole({'ACCESSORY'})" class="modal-footer ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" id="btn_submit_edit" onclick="submitUpdate(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade " sec:authorize="hasAnyRole({'ACCESSORY'})" id="modal_checkout">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Use By</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" id="frm_checkout" >
              <input type="hidden" name="accessoryId" >
              <div class="row">
                  <div class="col form-horizontal">
                    <div class="form-group row">
                      <label class="col-sm-4">Accessory Name</label>
                      <input type="text" id="accname" readonly class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                    
                    <div class="form-group row">
                      <label class="col-sm-4">Used By</label>
                      <input type="text" required name="usedBy" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                    
                  </div>
              </div>
              
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" onclick="checkout(this)" class="btn btn-primary" > <i class="fa fa-save"></i> Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>


    <script>
      var privilege = [(${privilege})];
    </script>
      <script src="/dist/js/accessory.js"></script>
  </section>

  <!-- /.content -->
</html>