<html layout:decorate="~{Layout/aside}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <!-- Main content -->
  <div layout:fragment="header" class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Application</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <section layout:fragment="content" class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <button sec:authorize="hasAnyRole({'APPLICATION'})" class="btn btn-success my-2" data-target="#modal_add" data-toggle="modal"> <i class="fas fa-plus-square"></i> New</button>

            <a class="btn btn-outline-info btn-flat btn-sm" href="/export-application" target="_blank"><i class="fa fa-file-excel"> Export</i></a>
      <div class="row">
        <div class="col">
          <table id="tbl_data" class="table table-bordered table-hover">
            <thead>
              <th>ID</th>
              <th>Application Name</th>
              <th>Status</th>
              <th>Server/IP</th>
              <th>Domain/URL</th>
              <th>Version</th>
              <th>Last Deploy</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
        </div>
      </div>
      
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade " sec:authorize="hasAnyRole({'APPLICATION'})" id="modal_add">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form " id="frm_add" method="post">
              <div class="row">
                  <div class="col-sm-6 form-horizontal">
                    <div class="form-group row">
                      <label class="col-sm-4">Application Name</label>
                      <input type="text" name="name" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Status</label>
                      <select  name="applicationStatusId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Status">
                          <option></option>
                        <option  th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.name}" />
                      </select>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-4">Version</label>
                    <input type="text" name="version" class="col-sm-6 form-control form-control-sm" placeholder="">
                </div>
                <div class="form-group row">
                  <label class="col-sm-4">Last Deploy</label>
                  <input type="text" name="lastDeploy" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
              </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Domain/URL</label>
                      <input type="text" name="url" class="col-sm-6 form-control form-control-sm" placeholder="">
                  </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Server/IP</label>
                        <input type="text" name="server" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>

                  </div>
                  <div class="col-sm-6 form-horizontal">

                      <div class="form-group row">
                          <label class="col-sm-4">OS Version</label>
                          <input type="text" name="osVersion" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">User Server</label>
                          <input type="text" name="userServer" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Password Server</label>
                          <input type="text" name="passwordServer" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-4">Path</label>
                          <input type="text" name="path" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">User Database</label>
                          <input type="text" name="userDb" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Password Database</label>
                          <input type="password" name="passwordDb" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Database Version</label>
                          <input type="text" name="dbVersion" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      
              <button type="button" id="btn_submit_add" onclick="submitAdd(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
        </div>
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade " id="modal_edit">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detail</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" id="frm_edit" >
              
              <input type="hidden" name="id" >
              <div class="row">
                  <div class="col-sm-6 form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-4">Application Name</label>
                        <input type="text" name="name" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Status</label>
                        <select  name="applicationStatusId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Status">
                            <option></option>
                          <option  th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.name}" />
                        </select>
                    </div>
                    
                    <div class="form-group row">
                      <label class="col-sm-4">Version</label>
                      <input type="text" name="version" class="col-sm-6 form-control form-control-sm" placeholder="">
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4">Last Deploy</label>
                    <input type="text" name="lastDeploy" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
                </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Domain/URL</label>
                        <input type="text" name="url" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Server/IP</label>
                          <input type="text" name="server" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      

                  </div>
                  <div class="col-sm-6 form-horizontal">
                      <div class="form-group row">
                          <label class="col-sm-4">OS Version</label>
                          <input type="text" name="osVersion" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div sec:authorize="hasAnyRole({'APPLICATION'})" class="form-group row">
                          <label class="col-sm-4">User Server</label>
                          <input type="text" name="userServer" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>

                      <div sec:authorize="hasAnyRole({'APPLICATION'})" class="form-group row">
                          <label class="col-sm-4">Password Server </label>
                          <div class="input-group col-sm-6">
                              <input type="password" name="passwordServer" class="form-control " />
                              <div class="input-group-append" >
                                  <div class="btn input-group-text" onclick="seePassword(this)"><i class="fa fa-eye"></i></div>
                              </div>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-4">Path</label>
                          <input type="text" name="path" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div sec:authorize="hasAnyRole({'APPLICATION'})"  class="form-group row">
                          <label class="col-sm-4">User Database</label>
                          <input type="text" name="userDb" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div sec:authorize="hasAnyRole({'APPLICATION'})"  class="form-group row">
                          <label class="col-sm-4">Password Database </label>
                          <div class="input-group col-sm-6">
                              <input type="password" name="passwordDb"  class="form-control " />
                              <div class="input-group-append" >
                                  <div class="btn input-group-text" onclick="seePassword(this)"><i class="fa fa-eye"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Database Version</label>
                          <input type="text" name="dbVersion" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div sec:authorize="hasAnyRole({'APPLICATION'})"  class="modal-footer ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" id="btn_submit_edit" onclick="submitUpdate(this)" class="btn btn-primary"> <i class="fa fa-save"></i> Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>


    <script>
      var privilege = [(${privilege})];
  </script>
      <script src="/dist/js/application.js"></script>
  </section>

  <!-- /.content -->
</html>