<html layout:decorate="~{Layout/aside}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <!-- Main content -->
  <div layout:fragment="header" class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Assets</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <section layout:fragment="content" class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <button sec:authorize="hasAnyRole({'ASSET'})"  class="btn btn-success my-2 btn-sm"  data-target="#modal_add" data-toggle="modal"> <i class="fas fa-plus-square"></i> New</button>

            <a class="btn btn-outline-info btn-flat btn-sm" href="/export-asset" target="_blank"><i class="fa fa-file-excel"> Export</i></a>
      <div class="row">
        <div class="col">
          <table id="tbl_data" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">ID</th>
                <th rowspan="2">Asset Tag</th>
                <th rowspan="2">Asset Name</th>
                    <th rowspan="2">Category</th>
                    <th rowspan="2">Status</th>
                    <th colspan="3">CPU</th>
                    <th rowspan="2">Memory</th>
                    <th rowspan="2">Storage</th>
                    <th rowspan="2">IP Host</th>
                    <th rowspan="2">Location</th>
                    <th rowspan="2">Room</th>
                    <th rowspan="2">Priority</th>
                  <th rowspan="2">Backup</th>
                  <th rowspan="2">High Availbility</th>
                  <th colspan="2">Alien Vault</th>
                  <th rowspan="2">Antivirus</th>
                  <th rowspan="2">Alert PRTG ICMP</th>
                  <th rowspan="2">Alert PRTG Service</th>
                  <th rowspan="2">Alert Grafana</th>
                  <th rowspan="2">Company</th>
                  </tr>
                <tr>
                    <th>Socket</th>
                    <th>Core</th>
                    <th>Type</th>
                    <th>Span Port</th>
                    <th>Ossec</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
        </div>
      </div>
      
    </div>
    <!-- /.container-fluid -->
    <div sec:authorize="hasAnyRole({'ASSET'})" class="modal fade " id="modal_add">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form " id="frm_add" method="post">
              <div class="row">
                  <div class="col-sm-6 form-horizontal">
                    <div class="form-group row">
                      <label class="col-sm-4">Asset Tag</label>
                      <input type="text" name="assetTag" class="col-sm-8 form-control form-control-sm" placeholder="">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Asset Name</label>
                        <input type="text" name="assetName" class="col-sm-8 form-control form-control-sm" placeholder="">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Category</label>
                        <select  name="assetCategoryId" class="col-sm-8 form-control select2select form-control-sm" data-placeholder="Select a Category" >
                            <option ></option>
                            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}" />
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Status</label>
                        <select  name="assetStatusId" class="col-sm-8 form-control select2select  form-control-sm" data-placeholder="Select a Status">
                            <option ></option>
                          <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.name}" />
                        </select>
                    </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4">CPU</label>
                              <input type="number" name="socket" class="col-sm-2 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">Socket</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4"></label>
                              <input type="number" name="core" class="col-sm-2 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">Cores</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4"></label>
                              <input type="text" name="type" class="col-sm-6 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">Type</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4">Memory</label>
                              <input type="number" name="memory" class="col-sm-2 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">GB</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4">Storage</label>
                              <input type="number" name="storage" class="col-sm-2 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">GB</div>
                              </div>
                          </div>
                      </div>
                    <div class="form-group row">
                      <label class="col-sm-4">IP Management</label>
                      <input type="text" name="ipManagement" class="col-sm-8 form-control form-control-sm" placeholder="">
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4">User Management</label>
                      <input type="text" name="userManagement" class="col-sm-8 form-control form-control-sm" placeholder="">
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4">Password Management</label>
                      <input type="password" name="passwordManagement" class="col-sm-8 form-control form-control-sm" placeholder="">
                    </div>

                  <div class="form-group row">
                      <label class="col-sm-4">IP Host</label>
                      <input type="text" name="ipHost" class="col-sm-8 form-control form-control-sm" placeholder="">
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4">User Host</label>
                    <input type="text" name="userHost" class="col-sm-8 form-control form-control-sm" placeholder="">
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4">Password Host</label>
                    <input type="password" name="passwordHost" class="col-sm-8 form-control form-control-sm" placeholder="">
                  </div>
                    

                  </div>
                  <div class="col-sm-6 form-horizontal">
                      <div class="form-group row">
                          <label class="col-sm-4">PR Number</label>
                          <input type="text" name="prNumber" class="col-sm-8 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Date </label>
                          <div class="input-group col-sm-4 input-group-sm">
                              <input type="text" name="purchaseDate" class="form-control dpicker"/>
                              <div class="input-group-append" >
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Cost </label>
                          <input type="number" name="purchaseCost" class="col-sm-8 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Warranty </label>
                          <input type="number" name="warranty" class="col-sm-8 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Specification </label>
                          <textarea name="notes" class="col-sm-8 form-control form-control-sm" placeholder=""></textarea>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Location </label>
                          <select name="locationId" class="col-sm-8 select2select  form-control form-control-sm" data-placeholder="Select a Location" >
                              <option ></option>
                              <option th:each="location: ${locations}" th:value="${location.id}" th:text="${location.name}" />
                          </select>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Room </label>
                          <select name="roomId" class="col-sm-8 select2select  form-control form-control-sm" data-placeholder="Select a Room" >
                              <option ></option>
                              <option th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}" />
                          </select>
                      </div>
                      <div class="form-group row ">
                          <label class="col-sm-4">Backup</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdBackupYes" name="backup" value="Yes" checked>
                                  <label for="rdBackupYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdBackupNo" name="backup" value="No" >
                                  <label for="rdBackupNo"> No</label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdBackupNA" name="backup" value="N/A" >
                                  <label for="rdBackupNA"> N/A</label>
                              </div>
                          </div>

                      </div>
                      <div class="form-group row ">
                          <label class="col-sm-4">High Availbility</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdHAYes" name="highAvailbility" value="Yes" checked>
                                  <label for="rdHAYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdHANo" name="highAvailbility" value="No" >
                                  <label for="rdHANo"> No</label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdHANA" name="highAvailbility" value="N/A" >
                                  <label for="rdHANA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Priority</label>
                          <select name="priority" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select a Priority">
                              <option value=""></option>
                              <option  value="Low">Low</option>
                              <option  value="Medium">Medium</option>
                              <option  value="High">High</option>
                          </select>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Alien Vault - SPAN Port</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVYes" name="avSpanport" value="Yes" checked>
                                  <label for="rdAVYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVNo" name="avSpanport" value="No" >
                                  <label for="rdAVNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVNA" name="avSpanport" value="N/A" >
                                  <label for="rdAVNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Alien Vault - Ossec</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVOssecYes" name="avOssec" value="Yes" checked>
                                  <label for="rdAVOssecYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVOssecNo" name="avOssec" value="No" >
                                  <label for="rdAVOssecNo"> No</label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVOssecNA" name="avOssec" value="N/A" >
                                  <label for="rdAVOssecNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Antivirus - Installed</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAvirInstlYes" name="antivirus" value="Yes" checked>
                                  <label for="rdAvirInstlYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAvirInstlNo" name="antivirus" value="No" >
                                  <label for="rdAvirInstlNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAvirInstlNA" name="antivirus" value="N/A" >
                                  <label for="rdAvirInstlNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">PRTG ICMP (Uptime)</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgICMPYes" name="prtgIcmp" value="Yes" checked>
                                  <label for="prtgICMPYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgICMPNo" name="prtgIcmp" value="No" >
                                  <label for="prtgICMPNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgICMPNA" name="prtgIcmp" value="N/A" >
                                  <label for="prtgICMPNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">PRTG Service</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgServiceYes" name="prtgService" value="Yes" checked>
                                  <label for="prtgServiceYes">Yes </label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgServiceNo" name="prtgService" value="No" >
                                  <label for="prtgServiceNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgServiceNA" name="prtgService" value="N/A" >
                                  <label for="prtgServiceNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Grafana</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="grafanaYes" name="grafana" value="Yes" checked>
                                  <label for="grafanaYes">Yes </label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="grafanaNo" name="grafana" value="No" >
                                  <label for="grafanaNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="grafanaNA" name="grafana" value="N/A" >
                                  <label for="grafanaNA"> N/A</label>
                              </div>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-4">Company </label>
                          <select name="companyId" class="col-sm-8 select2select  form-control form-control-sm" data-placeholder="Select a Company" >
                              <option ></option>
                              <option th:each="company: ${companies}" th:value="${company.id}" th:text="${company.name}" />
                          </select>
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      
              <button type="button" id="btn_submit_add" onclick="submitAdd(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
        </div>
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade " id="modal_edit">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detail</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" id="frm_edit" >
              
              <input type="hidden" name="id" >
              <div class="row">
                  <div class="col-sm-6 form-horizontal">
                      <div class="form-group row">
                          <label class="col-sm-4">Asset Tag</label>
                          <input type="text" name="assetTag" class="col-sm-8 form-control form-control-sm" placeholder="">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4">Asset Name</label>
                            <input type="text" name="assetName" class="col-sm-8   form-control form-control-sm" placeholder="">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4">Category</label>
                            <select  name="assetCategoryId" class="col-sm-8 select2select  form-control form-control-sm" placeholder="Choose Category">
                              <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}" />
                            </select>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4">Status</label>
                            <select  name="assetStatusId" class="col-sm-8 select2select form-control form-control-sm" placeholder="Choose Status">
                              <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.name}" />
                            </select>
                        </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4">CPU</label>
                              <input type="number" name="socket" class="col-sm-2 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">Socket</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4"></label>
                              <input type="number" name="core" class="col-sm-2 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">Cores</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4"></label>
                              <input type="text" name="type" class="col-sm-6 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">Type</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4">Memory</label>
                              <input type="number" name="memory" class="col-sm-2 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">GB</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="input-group input-group-sm" >
                              <label class="col-sm-4">Storage</label>
                              <input type="number" name="storage" class="col-sm-2 form-control form-control-sm" placeholder="">
                              <div class="input-group-append">
                                  <div class="input-group-text">GB</div>
                              </div>
                          </div>
                      </div>
                        <div class="form-group row">
                          <label class="col-sm-4">IP Management</label>
                          <input type="text" name="ipManagement" class="col-sm-8 form-control form-control-sm" placeholder="">
                        </div>
                        <div  sec:authorize="hasAnyRole({'ASSET'})"   class="form-group row">
                          <label class="col-sm-4">User Management</label>
                          <input type="text" name="userManagement" class="col-sm-8 form-control form-control-sm" placeholder="">
                        </div>
                      <div  sec:authorize="hasAnyRole({'ASSET'})"   class="form-group row">
                          <label class="col-sm-4">Password Managment</label>
                          <div class="input-group col-sm-8 input-group-sm">
                              <input type="password" name="passwordManagement" class="form-control form-control-sm" />
                              <div class="input-group-append" >
                                  <div class="btn input-group-text" onclick="seePassword(this)"><i class="fa fa-eye"></i></div>
                              </div>
                          </div>
                      </div>
    
                      <div class="form-group row">
                          <label class="col-sm-4">IP Host</label>
                          <input type="text" name="ipHost" class="col-sm-8 form-control form-control-sm" placeholder="">
                      </div>
                      <div  sec:authorize="hasAnyRole({'ASSET'})"   class="form-group row">
                        <label class="col-sm-4">User Host</label>
                        <input type="text" name="userHost" class="col-sm-8 form-control form-control-sm" placeholder="">
                      </div>
                      <div  sec:authorize="hasAnyRole({'ASSET'})"   class="form-group row">
                          <label class="col-sm-4">Password Host </label>
                          <div class="input-group col-sm-8 input-group-sm">
                              <input type="password" name="passwordHost" class="form-control " />
                              <div class="input-group-append" >
                                  <div class="btn input-group-text" onclick="seePassword(this)"><i class="fa fa-eye"></i></div>
                              </div>
                          </div>
                      </div>


                  </div>
                  <div class="col-sm-6 form-horizontal">
                      <div class="form-group row">
                          <label class="col-sm-4">PR Number</label>
                          <input type="text" name="prNumber" class="col-sm-8 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Date </label>
                          <div class="input-group col-sm-4 input-group-sm">
                              <input type="text" name="purchaseDate" class="form-control  dpicker" />
                              <div class="input-group-append" >
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Cost </label>
                          <input type="number" name="purchaseCost" class="col-sm-8 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Warranty </label>
                          <input type="number" name="warranty" class="col-sm-8 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Specification </label>
                          <textarea name="notes" class="col-sm-8 form-control form-control-sm" placeholder=""></textarea>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Location </label>
                          <select name="locationId" class="col-sm-8 select2select  form-control form-control-sm" >

                              <option th:each="location: ${locations}" th:value="${location.id}" th:text="${location.name}" />
                          </select>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-4">Room </label>
                          <select name="roomId" class="col-sm-8 form-control select2select form-control-sm" >

                              <option th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}" />
                          </select>
                      </div>
                      <div class="form-group row ">
                          <label class="col-sm-4">Backup</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdBackupEditYes" name="backup" value="Yes" checked>
                                  <label for="rdBackupEditYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdBackupEditNo" name="backup" value="No" >
                                  <label for="rdBackupEditNo"> No</label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdBackupEditNA" name="backup" value="N/A" >
                                  <label for="rdBackupEditNA"> N/A</label>
                              </div>
                          </div>

                      </div>
                      <div class="form-group row ">
                          <label class="col-sm-4">High Availbility</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdHAEditYes" name="highAvailbility" value="Yes" checked>
                                  <label for="rdHAEditYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdHAEditNo" name="highAvailbility" value="No" >
                                  <label for="rdHAEditNo"> No</label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdHAEditNA" name="highAvailbility" value="N/A" >
                                  <label for="rdHAEditNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Priority</label>
                          <select name="priority" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select a Priority">
                              <option value=""></option>
                              <option  value="Low">Low</option>
                              <option  value="Medium">Medium</option>
                              <option  value="High">High</option>
                          </select>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Alien Vault - SPAN Port</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVEditYes" name="avSpanport" value="Yes" checked>
                                  <label for="rdAVEditYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVEditNo" name="avSpanport" value="No" >
                                  <label for="rdAVEditNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVEditNA" name="avSpanport" value="N/A" >
                                  <label for="rdAVEditNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Alien Vault - Ossec</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVOssecEditYes" name="avOssec" value="Yes" checked>
                                  <label for="rdAVOssecEditYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVOssecEditNo" name="avOssec" value="No" >
                                  <label for="rdAVOssecEditNo"> No</label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAVOssecEditNA" name="avOssec" value="N/A" >
                                  <label for="rdAVOssecEditNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Antivirus - Installed</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAvirInstlEditYes" name="antivirus" value="Yes" checked>
                                  <label for="rdAvirInstlEditYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAvirInstlEditNo" name="antivirus" value="No" >
                                  <label for="rdAvirInstlEditNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="rdAvirInstlEditNA" name="antivirus" value="N/A" >
                                  <label for="rdAvirInstlEditNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">PRTG ICMP (Uptime)</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgICMPEditYes" name="prtgIcmp" value="Yes" checked>
                                  <label for="prtgICMPEditYes">Yes </label>
                              </div>

                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgICMPEditNo" name="prtgIcmp" value="No" >
                                  <label for="prtgICMPEditNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgICMPEditNA" name="prtgIcmp" value="N/A" >
                                  <label for="prtgICMPEditNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">PRTG Service</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgServiceEditYes" name="prtgService" value="Yes" checked>
                                  <label for="prtgServiceEditYes">Yes </label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgServiceEditNo" name="prtgService" value="No" >
                                  <label for="prtgServiceEditNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="prtgServiceEditNA" name="prtgService" value="N/A" >
                                  <label for="prtgServiceEditNA"> N/A</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Grafana</label>
                          <div class="col-sm-8">
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="grafanaEditYes" name="grafana" value="Yes" checked>
                                  <label for="grafanaEditYes">Yes </label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="grafanaEditNo" name="grafana" value="No" >
                                  <label for="grafanaEditNo"> No</label>
                              </div>
                              <div class="icheck-primary d-inline">
                                  <input type="radio" id="grafanaEditNA" name="grafana" value="N/A" >
                                  <label for="grafanaEditNA"> N/A</label>
                              </div>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-4">Company </label>
                          <select name="companyId" class="col-sm-8 select2select  form-control form-control-sm" data-placeholder="Select a Company" >
                              <option ></option>
                              <option th:each="company: ${companies}" th:value="${company.id}" th:text="${company.name}" />
                          </select>
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div sec:authorize="hasAnyRole({'ASSET'})"  class="modal-footer ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" id="btn_submit_edit" onclick="submitUpdate(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>


    <script>
      var privilege = [(${privilege})];

    </script>

      <script src="/dist/js/asset.js"></script>

  </section>

  <!-- /.content -->
</html>