<html layout:decorate="~{Layout/aside}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <!-- Main content -->
  <div layout:fragment="header" class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Consumable</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <section layout:fragment="content" class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <button sec:authorize="hasAnyRole({'CONSUMABLE'})"  class="btn btn-success my-2" data-target="#modal_add" data-toggle="modal"> <i class="fas fa-plus-square"></i> New</button>

            <a class="btn btn-outline-info btn-flat btn-sm" href="/export-consumable" target="_blank"><i class="fa fa-file-excel"> Export</i></a>
      <div class="row">
        <div class="col">
          <table id="tbl_data" class="table table-bordered table-hover">
            <thead>
              <th>ID</th>
              <th>Consumable Name</th>
              <th>Category</th>
              <th>Manufacturer</th>
              <th>Location</th>
              <th>Room</th>
              <th>Type/Model</th>
              <th>PR Number</th>
              <th>Purchase Date</th>
              <th>Purchase Cost</th>
              <th>Total Qty</th>
              <th>Available Qty</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
        </div>
      </div>
      
    </div>
    <!-- /.container-fluid -->
    <div  sec:authorize="hasAnyRole({'CONSUMABLE'})"  class="modal fade " id="modal_add">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form " id="frm_add" >
              <div class="row">
                  <div class="col-sm-6 form-horizontal">
                    <div class="form-group row">
                      <label class="col-sm-4">Consumable Name</label>
                      <input type="text" name="name" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Category</label>
                      <select  name="consumableCategoryId" class="col-sm-6 form-control form-control-sm select2select " data-placeholder="Select a Category">
                          <option ></option>
                          <option  th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Manufacturer</label>
                      <select  name="manufacturerId" class="col-sm-6 form-control form-control-sm  select2select " data-placeholder="Select a Manufacturer">
                          <option  th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Location</label>
                      <select  name="locationId" class="col-sm-6 form-control form-control-sm  select2select " data-placeholder="Select a Location">
                          <option  th:each="location: ${locations}" th:value="${location.id}" th:text="${location.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Room</label>
                      <select  name="roomId" class="col-sm-6 form-control form-control-sm  select2select " data-placeholder="Select a Room">
                          <option  th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}" />
                      </select>
                  </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Type/Model</label>
                        <input type="text" name="model" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                  </div>
                  <div class="col-sm-6 form-horizontal">

                      <div class="form-group row">
                          <label class="col-sm-4">PR Number</label>
                          <input type="text" name="prNumber" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Date </label>
                          <input type="text" name="purchaseDate" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Cost </label>
                          <input type="text" name="purchaseCost" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Qty </label>
                          <input type="number" name="qty" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      
              <button type="button" id="btn_submit_add" onclick="submitAdd(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
        </div>
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade " id="modal_edit">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detail</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" id="frm_edit" method="post" action="/asset-management/consumable/edit">
              
              <input type="hidden" name="id" >
              <div class="row">
                  <div class="col form-horizontal">
                    <div class="form-group row">
                      <label class="col-sm-4">Consumable Name</label>
                      <input type="text" name="name" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Category</label>
                      <select  name="consumableCategoryId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Category">
                          <option></option>
                          <option  th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Manufacturer</label>
                      <select  name="manufacturerId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Manufacturer">
                          <option></option>
                          <option  th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Location</label>
                      <select  name="locationId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Location">
                          <option  th:each="location: ${locations}" th:value="${location.id}" th:text="${location.name}" />
                      </select>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4">Room</label>
                      <select  name="roomId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Room">
                          <option></option>
                          <option  th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}" />
                      </select>
                  </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Type/Model</label>
                        <input type="text" name="model" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                    
                  </div>
                  <div class="col-sm-6 form-horizontal">
                      <div class="form-group row">
                          <label class="col-sm-4">PR Number</label>
                          <input type="text" name="prNumber" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Date </label>
                          <input type="text" name="purchaseDate" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Cost </label>
                          <input type="text" name="purchaseCost" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Qty </label>
                          <input type="number" name="qty" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div sec:authorize="hasAnyRole({'CONSUMABLE'})"  class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" id="btn_submit_edit" onclick="submitUpdate(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>


    <div class="modal fade " id="modal_consume">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Used</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" id="frm_consume" method="post" action="/asset-management/consumable/consume">
              
              <input type="hidden" name="consumableId" >
              <div class="row">
                  <div class="col form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-4">Note </label>
                        <textarea name="note" required class="col-sm-6 form-control form-control-sm"></textarea>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">Qty </label>
                        <input type="number" required name="qty" class="col-sm-6 form-control form-control-sm" placeholder="">
                    </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" onclick="submitConsume(this)"  class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade " id="modal_detail">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detail Consumes</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <table id="tbl_detail" class="table table-bordered table-hover">
              <thead>
                <th>Action</th>
                <th>ID</th>
                <th>Note</th>
                <th>Quantity</th>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>



    <script>
      var privilege = [(${privilege})];

</script>
      <script src="/dist/js/consumable.js"></script>
  </section>

  <!-- /.content -->
</html>