<html layout:decorate="~{Layout/aside}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <!-- Main content -->
  <div layout:fragment="header" class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">License</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <section layout:fragment="content" class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <button sec:authorize="hasAnyRole({'LICENSE'})" class="btn btn-success my-2" data-target="#modal_add" data-toggle="modal"> <i class="fas fa-plus-square"></i> New</button>
            <a class="btn btn-outline-info btn-flat btn-sm" href="/export-license" target="_blank"><i class="fa fa-file-excel"> Export</i></a>
      <div class="row">
        <div class="col">
          <table id="tbl_data" class="table table-bordered table-hover">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Qty</th>    
                <th>Category</th>
                <th>Supplier</th>
                <th>Manufacturer</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
        </div>
      </div>
      
    </div>
    <!-- /.container-fluid -->
    <div sec:authorize="hasAnyRole({'LICENSE'})" class="modal fade " id="modal_add">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form " id="frm_add" method="post">
              <div class="row">
                  <div class="col-sm-6 form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-4">Software Name</label>
                        <input type="text" name="name" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4">Category </label>
                        <select name="licenseCategoryId" class="col-sm-6 form-control select2select form-control-sm" data-placeholder="Select a Category" >
                            <option></option>
                            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}" />
                        </select>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4">Manufacturer </label>
                        <select name="manufacturerId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Manufacturer" >
                            <option></option>
                            <option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}" />
                        </select>
                      </div>                      
                      <div class="form-group row">
                        <label class="col-sm-4">Supplier </label>
                        <select name="supplierId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Supplier" >
                            <option></option>
                            
                            <option th:each="supplier: ${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}" />
                        </select>
                    </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Product Key</label>
                          <textarea name="productKey" id="" class="col-sm-6 form-control form-control-sm"></textarea>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Qty</label>
                          <input type="number" name="qty" style="width:40%"  class="col-sm-6 form-control form-control-sm">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">License to Name</label>
                          <input type="text" name="licenseToName" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">License to Email </label>
                          <input type="text" name="licenseToEmail" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Password </label>
                          <input type="text" name="password" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-4">License File</label>
                          <div class="input-group col-sm-6 input-group-sm">
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" name="licenseDoc" id="licenseDoc">
                                  <label class="custom-file-label" for="licenseDoc"><i class="fa fa-upload"></i> Upload</label>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 form-horizontal">

                      <div class="form-group row">
                          <label class="col-sm-4">PR Number </label>
                          <input type="text" name="prNumber" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Cost </label>
                          <input type="text" name="purchaseCost" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Date </label>
                          <input type="text" name="purchaseDate" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Expiration Date </label>
                          <input type="text" name="expDate" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Note </label>
                          <textarea name="notes" class="col-sm-6 form-control form-control-sm" placeholder=""></textarea>
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      
              <button type="button" id="btn_submit_add" onclick="submitAdd(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
        </div>
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div  class="modal fade " id="modal_edit">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detail</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" id="frm_edit" >
                <input type="hidden" name="id" >
              <div class="row">
                  <div class="col-sm-6 form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-4">Software Name</label>
                        <input type="text" name="name" autocomplete="off" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4">Category </label>
                        <select name="licenseCategoryId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Category">
                            <option></option>
                            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}" />
                        </select>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4">Manufacturer </label>
                        <select name="manufacturerId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Manufacturer">
                            <option></option>
                            <option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}" />
                        </select>
                      </div>                      
                      <div class="form-group row">
                        <label class="col-sm-4">Supplier </label>
                        <select name="supplierId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Supplier">
                            <option></option>
                            
                            <option th:each="supplier: ${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}" />
                        </select>
                    </div>
                      <div sec:authorize="hasAnyRole({'LICENSE'})"  class="form-group row">
                          <label class="col-sm-4">Product Key</label>
                          <div class="col-sm-6 input-group input-group-sm">
                            <input type="password" autocomplete="off" name="productKey" class="form-control"/>
                            <span class="input-group-append">
                              <button type="button" class="seeKey btn btn-info btn-flat"><i class="fa fa-eye"></i></button>
                            </span>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Qty</label>
                          <input type="number" name="qty" style="width:40%"  class="col-sm-6 form-control form-control-sm">
                      </div>
                      <div sec:authorize="hasAnyRole({'LICENSE'})"  class="form-group row">
                          <label class="col-sm-4">License to Name</label>
                          <input type="text" name="licenseToName" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div sec:authorize="hasAnyRole({'LICENSE'})"  class="form-group row">
                          <label class="col-sm-4">License to Email </label>
                          <input type="text" name="licenseToEmail" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div sec:authorize="hasAnyRole({'LICENSE'})"  class="form-group row">
                          <label class="col-sm-4">Password</label>
                          <div class="input-group col-sm-6 input-group-sm">
                              <input type="password" name="password" class="form-control form-control-sm" />
                              <div class="input-group-append" >
                                  <div class="btn input-group-text" onclick="seePassword(this)"><i class="fa fa-eye"></i></div>
                              </div>
                          </div>
                      </div>

                      <div sec:authorize="hasAnyRole({'LICENSE'})" class="form-group row">
                          <label class="col-sm-4">License File</label>
                          <div class="input-group col-sm-6 input-group-sm">
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" name="licenseDoc" id="licenseDocEdit">
                                  <label class="custom-file-label" for="licenseDocEdit"><i class="fa fa-upload"></i> Upload</label>
                              </div>
                              <div class="input-group-append">
                                  <a target="_blank" href="#" class="input-group-text" id="downloadLicenseUrl"><i class="fa fa-download"></i> Download</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 form-horizontal">

                      <div class="form-group row">
                          <label class="col-sm-4">PR Number </label>
                          <input type="text" name="prNumber" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Cost </label>
                          <input type="text" name="purchaseCost" class="col-sm-6 form-control form-control-sm" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Purchase Date </label>
                          <input type="text" name="purchaseDate" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Expiration Date </label>
                          <input type="text" name="expDate" class="col-sm-6 form-control form-control-sm dpicker" placeholder="">
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4">Note </label>
                          <textarea name="notes" class="col-sm-6 form-control form-control-sm" placeholder=""></textarea>
                      </div>
                  </div>
              </div>
              
              
            </form>
          </div>
          <div sec:authorize="hasAnyRole({'LICENSE'})" class="modal-footer ">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" id="btn_submit_edit" onclick="submitUpdate(this)"  class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>


    <script>
      var privilege = [(${privilege})];
    </script>
      <script src="/dist/js/license.js"></script>
  </section>

  <!-- /.content -->
</html>