<html
  layout:decorate="~{Layout/aside}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.thymeleaf.org"
>
  <!-- Main content -->
  <div layout:fragment="header" class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Remote Access</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <section layout:fragment="content" class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <button sec:authorize="hasAnyRole({'REMOTEACCESS'})"
        class="btn btn-success my-2"
        data-target="#modal_add"
        data-toggle="modal"
      >
        <i class="fas fa-plus-square"></i> New
      </button>

          <a class="btn btn-outline-info btn-flat btn-sm" href="/export-remote-access" target="_blank"><i class="fa fa-file-excel"> Export</i></a>
      <div class="row">
        <div class="col">
          <table id="tbl_data" class="table table-bordered table-hover">
            <thead>
              <th>ID</th>
              <th>IP</th>
              <th>Port</th>
              <th>Application</th>
              <th>Location</th>
              <th>Room</th>
              <th>User</th>
              <th>Purpose</th>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
        </div>
      </div>
      
    </div>
    <!-- /.container-fluid -->
    <div sec:authorize="hasAnyRole({'REMOTEACCESS'})" class="modal fade" id="modal_add">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" id="frm_add">
              <div class="row">
                <div class="col form-horizontal">
                  <div class="form-group row">
                    <label class="col-sm-4">IP Address</label>
                    <input
                      type="text"
                      name="ip"
                      class="col-sm-6 form-control form-control-sm"
                      placeholder=""
                    />
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4">Port</label>
                    <input
                      type="text"
                      name="port"
                      class="col-sm-6 form-control form-control-sm"
                      placeholder=""
                    />
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4">Application</label>
                    <input
                      type="text"
                      name="application"
                      class="col-sm-6 form-control form-control-sm"
                      placeholder=""
                    />
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4">Location</label>
                    <select name="locationId" multiple="multiple" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Location">
                      <option></option>
                      <option  th:each="location: ${locations}" th:value="${location.id}" th:text="${location.name}" />
                    </select>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4">Room</label>
                    <select name="roomId" class="col-sm-6 form-control form-control-sm select2select" data-placeholder="Select a Room">
                      <option></option>
                      <option  th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}" />
                    </select>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4">User</label>
                    <input
                      type="text"
                      name="user"
                      class="col-sm-6 form-control form-control-sm"
                      placeholder=""
                    />
                  </div>
                  <div  class="form-group row">
                    <label class="col-sm-4">Password</label>
                    <input
                      type="password"
                      name="password"
                      class="col-sm-6 form-control form-control-sm"
                      placeholder=""
                    />
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4">Purpose</label>
                    <input
                      type="text"
                      name="purpose"
                      class="col-sm-6 form-control form-control-sm"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" id="btn_submit_add" onclick="submitAdd(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modal_edit">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Detail</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form " id="frm_edit">
                  <input type="hidden" name="id">
                <div class="row">
                  <div class="col form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-4">IP Address</label>
                        <input
                          type="text"
                          name="ip"
                          class="col-sm-6 form-control form-control-sm"
                          placeholder=""
                        />
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4">Port</label>
                        <input
                          type="text"
                          name="port"
                          class="col-sm-6 form-control form-control-sm"
                          placeholder=""
                        />
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4">Application</label>
                        <input
                          type="text"
                          name="application"
                          class="col-sm-6 form-control form-control-sm"
                          placeholder=""
                        />
                      </div>
                    <div class="form-group row">
                      <div class="col-sm-4">
                        <label>Location</label>
                      </div>
                      <div class="col-sm-6">
                        <select name="locationId" class="form-control form-control-sm select2select" data-placeholder="Select a Location">
                          <option></option>
                          <option  th:each="location: ${locations}" th:value="${location.id}" th:text="${location.name}" />
                        </select>
                      </div>

                    </div>
                    <div class="form-group row">
                      <div class="col-sm-4">
                        <label for="">Room</label>
                      </div>
                      <div class="col-sm-6">
                        <select name="roomId" class="form-control form-control-sm select2select" data-placeholder="Select a Room">
                          <option></option>
                          <option  th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}" />
                        </select>
                      </div>

                    </div>
                      <div  sec:authorize="hasAnyRole({'REMOTEACCESS'})"  class="form-group row">
                        <label class="col-sm-4">User</label>
                        <input
                          type="text"
                          name="user"
                          class="col-sm-6 form-control form-control-sm"
                          placeholder=""
                        />
                      </div>
                    <div  sec:authorize="hasAnyRole({'REMOTEACCESS'})"  class="form-group row">
                      <label class="col-sm-4">Password</label>
                      <div class="input-group col-sm-6">
                        <input type="password" name="password" class="form-control " />
                        <div class="input-group-append" >
                          <div class="btn input-group-text" onclick="seePassword(this)"><i class="fa fa-eye"></i></div>
                        </div>
                      </div>
                    </div>
                      <div class="form-group row">
                        <label class="col-sm-4">Purpose</label>
                        <input
                          type="text"
                          name="purpose"
                          class="col-sm-6 form-control form-control-sm"
                          placeholder=""
                        />
                      </div>
                  </div>
                </div>
              </form>
            </div>
            <div sec:authorize="hasAnyRole({'REMOTEACCESS'})"  class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
              <button type="button" id="btn_submit_edit" onclick="submitUpdate(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    
    <script>

        var privilege = [(${privilege})] ;
    </script>
    <script src="/dist/js/remote-access.js"></script>
  </section>

  <!-- /.content -->
</html>
