<html layout:decorate="~{Layout/aside}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<!-- Main content -->
<div layout:fragment="header" class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">SYSOPS</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<section layout:fragment="content" class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <button sec:authorize="hasAnyRole({'VMSYSOPS'})" class="btn btn-success my-2" data-target="#modal_add" data-toggle="modal"> <i class="fas fa-plus-square"></i> New</button>
                <a class="btn btn-outline-info btn-flat btn-sm" href="/export-vm-sysops" target="_blank"><i class="fa fa-file-excel"> Export</i></a>
                <div class="row">
                    <div class="col">
                        <table id="tbl_asset" class="table table-bordered table-sm table-striped table-hover">
                            <thead style="text-align: center">
                            <tr>
                                <th rowspan="2">ID</th>
                                <th rowspan="2">ID</th>
                                <th rowspan="2">VM Name</th>
                                <th rowspan="2">IP</th>
                                <th rowspan="2">Guest OS</th>
                                <th rowspan="2">State</th>
                                <th colspan="2">CPU</th>
                                <th rowspan="2">Memory (GB)</th>
                                <th rowspan="2">Storage (GB)</th>
                                <th rowspan="2">IP Host</th>
                                <th rowspan="2">Description</th>
                                <th rowspan="2">Backup</th>
                                <th rowspan="2">High Availbility</th>
                                <th rowspan="2">Priority</th>
                                <th colspan="2">Alien Vault</th>
                                <th rowspan="2">Antivirus</th>
                                <th rowspan="2">Alert PRTG ICMP</th>
                                <th rowspan="2">Alert PRTG Services</th>
                                <th rowspan="2">Alert Grafana</th>
                                <th rowspan="2">Company</th>
                            </tr>
                            <tr>
                                <th>Socket</th>
                                <th>Core</th>
                                <th>Span Port</th>
                                <th>Ossec</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <div sec:authorize="hasAnyRole({'VMSYSOPS'})" class="modal fade " id="modal_add">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form " id="frm_add" method="post">
                        <div class="row">
                            <div class="col-sm-6 form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-4">Name</label>
                                    <input type="text" name="name" class="col-sm-8 form-control form-control-sm" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Guest Os</label>
                                    <select name="licenseId" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select a License">
                                        <option value=""></option>
                                        <option  th:each="license: ${licenses}" th:value="${license.id}" th:text="${license.name}" />
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">IP</label>
                                    <select name="ips" multiple="multiple" class="col-sm-5 form-control form-control-sm selectips" data-placeholder="Select IP(s)">
                                    </select>
                                    <button class="btn btn-sm btn-outline-primary" type="button" onclick="addNewIP()"> New IP</button>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">CPU</label>
                                        <input type="number" name="socket" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">Socket</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4"></label>
                                        <input type="number" name="cpu" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">Core</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">Memory</label>
                                        <input type="number" name="memory" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">GB</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">Storage</label>
                                        <input type="number" name="storage" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">GB</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Host</label>
                                    <select name="assetId" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select an Asset">
                                        <option value=""></option>
                                        <option  th:each="asset: ${assets}" th:value="${asset.id}" th:text="${asset.assetName}+' - '+${asset.ipHost}" />
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">State</label>
                                    <select name="state" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select a State">
                                        <option value=""></option>
                                        <option  value="Operational">Operational</option>
                                        <option  value="Powered OFF">Powered OFF</option>
                                        <option  value="Idle">Idle</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Description</label>
                                    <textarea name="description" cols="30" rows="2" class="col-sm-8 form-control form-control-sm"></textarea>
                                </div>

                            </div>
                            <div class="col-sm-6 form-horizontal">
                                <div class="form-group row ">
                                    <label class="col-sm-4">Backup</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdBackupYes" name="backup" value="1" checked>
                                            <label for="rdBackupYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdBackupNo" name="backup" value="0" >
                                            <label for="rdBackupNo"> No</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row ">
                                    <label class="col-sm-4">High Availbility</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdHAYes" name="highAvailbility" value="1" checked>
                                            <label for="rdHAYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdHANo" name="highAvailbility" value="0" >
                                            <label for="rdHANo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Priority</label>
                                    <select name="priority" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select a Priority">
                                        <option value=""></option>
                                        <option  value="Low">Low</option>
                                        <option  value="Medium">Medium</option>
                                        <option  value="High">High</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Alien Vault - SPAN Port</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdAVYes" name="avSpanPort" value="1" checked>
                                            <label for="rdAVYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdAVNo" name="avSpanPort" value="0" >
                                            <label for="rdAVNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Alien Vault - Ossec</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdAVOssecYes" name="avOssec" value="1" checked>
                                            <label for="rdAVOssecYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdAVOssecNo" name="avOssec" value="0" >
                                            <label for="rdAVOssecNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Antivirus - Installed</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdAvirInstlYes" name="antivirusInstalled" value="1" checked>
                                            <label for="rdAvirInstlYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdAvirInstlNo" name="antivirusInstalled" value="0" >
                                            <label for="rdAvirInstlNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">PRTG ICMP (Uptime)</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="prtgICMPYes" name="prtgIcmp" value="1" checked>
                                            <label for="prtgICMPYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="prtgICMPNo" name="prtgIcmp" value="0" >
                                            <label for="prtgICMPNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">PRTG Service</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="prtgServiceYes" name="prtgService" value="1" checked>
                                            <label for="prtgServiceYes">Yes </label>
                                        </div>
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="prtgServiceNo" name="prtgService" value="0" >
                                            <label for="prtgServiceNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">PRTG Service Remark</label>
                                    <textarea name="prtgServiceRemark" cols="30" rows="3" class="form-control form-control-sm col-sm-8" ></textarea>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4">Grafana</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="grafanaYes" name="grafana" value="1" checked>
                                            <label for="grafanaYes">Yes </label>
                                        </div>
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="grafanaNo" name="grafana" value="0" >
                                            <label for="grafanaNo"> No</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-4">Company </label>
                                    <select name="companyId" class="col-sm-8 select2select  form-control form-control-sm" data-placeholder="Select a Company" >
                                        <option ></option>
                                        <option th:each="company: ${companies}" th:value="${company.id}" th:text="${company.name}" />
                                    </select>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="button" id="btn_submit_add" class="btn btn-primary"><i class="fa fa-circle-notch fa-spin" style="display: none"></i>Save changes</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div  class="modal fade " id="modal_edit">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form " id="frm_edit" method="post">
                        <div class="row">
                            <div class="col-sm-6 form-horizontal">
                                <input type="hidden" name="id">
                                <div class="form-group row">
                                    <label class="col-sm-4">Name</label>
                                    <input type="text" name="name" class="col-sm-8 form-control form-control-sm" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Guest Os</label>
                                    <select name="licenseId" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select a License">
                                        <option value=""></option>
                                        <option  th:each="license: ${licenses}" th:value="${license.id}" th:text="${license.name}" />
                                    </select>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4">IP</label>
                                    <select name="ips" id="editIps" multiple="multiple" class="col-sm-5 form-control form-control-sm selectips" data-placeholder="Select IP(s)">
                                    </select>
                                    <button class="btn btn-sm btn-outline-primary" type="button" onclick="addNewIP()"> New IP</button>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">CPU</label>
                                        <input type="number" name="socket" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">Socket</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4"></label>
                                        <input type="number" name="cpu" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">Core</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">Memory</label>
                                        <input type="number" name="memory" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">GB</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">Storage</label>
                                        <input type="number" name="storage" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">GB</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Host</label>
                                    <select name="assetId" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select an Asset">
                                        <option value=""></option>
                                        <option  th:each="asset: ${assets}" th:value="${asset.id}" th:text="${asset.assetName}+' - '+${asset.ipHost}" />
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">State</label>
                                    <select name="state" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select a State">
                                        <option value=""></option>
                                        <option  value="Operational">Operational</option>
                                        <option  value="Powered OFF">Powered OFF</option>
                                        <option  value="Idle">Idle</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Description</label>
                                    <textarea name="description" cols="30" rows="2" class="col-sm-8 form-control form-control-sm"></textarea>
                                </div>

                            </div>
                            <div class="col-sm-6 form-horizontal">
                                <div class="form-group row ">
                                    <label class="col-sm-4">Backup</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdBackupYes" name="backup" value="1" checked>
                                            <label for="EditrdBackupYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdBackupNo" name="backup" value="0" >
                                            <label for="EditrdBackupNo"> No</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row ">
                                    <label class="col-sm-4">High Availbility</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdHAYes" name="highAvailbility" value="1" checked>
                                            <label for="EditrdHAYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdHANo" name="highAvailbility" value="0" >
                                            <label for="EditrdHANo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Priority</label>
                                    <select name="priority" class="col-sm-8 form-control form-control-sm select2select" data-placeholder="Select a Priority">
                                        <option value=""></option>
                                        <option  value="Low">Low</option>
                                        <option  value="Medium">Medium</option>
                                        <option  value="High">High</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Alien Vault - SPAN Port</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdAVYes" name="avSpanPort" value="1" checked>
                                            <label for="EditrdAVYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdAVNo" name="avSpanPort" value="0" >
                                            <label for="EditrdAVNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Alien Vault - Ossec</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdAVOssecYes" name="avOssec" value="1" checked>
                                            <label for="EditrdAVOssecYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdAVOssecNo" name="avOssec" value="0" >
                                            <label for="EditrdAVOssecNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Antivirus - Installed</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdAvirInstlYes" name="antivirusInstalled" value="1" checked>
                                            <label for="EditrdAvirInstlYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditrdAvirInstlNo" name="antivirusInstalled" value="0" >
                                            <label for="EditrdAvirInstlNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">PRTG ICMP (Uptime)</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditprtgICMPYes" name="prtgIcmp" value="1" checked>
                                            <label for="EditprtgICMPYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditprtgICMPNo" name="prtgIcmp" value="0" >
                                            <label for="EditprtgICMPNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">PRTG Service</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditprtgServiceYes" name="prtgService" value="1" checked>
                                            <label for="EditprtgServiceYes">Yes </label>
                                        </div>
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditprtgServiceNo" name="prtgService" value="0" >
                                            <label for="EditprtgServiceNo"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">PRTG Service Remark</label>
                                    <textarea name="prtgServiceRemark" cols="30" rows="3" class="form-control form-control-sm col-sm-8" ></textarea>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4">Grafana</label>
                                    <div class="col-sm-8">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditgrafanaYes" name="grafana" value="1" checked>
                                            <label for="EditgrafanaYes">Yes </label>
                                        </div>
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="EditgrafanaNo" name="grafana" value="0" >
                                            <label for="EditgrafanaNo"> No</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-4">Company </label>
                                    <select name="companyId" class="col-sm-8 select2select  form-control form-control-sm" data-placeholder="Select a Company" >
                                        <option ></option>
                                        <option th:each="company: ${companies}" th:value="${company.id}" th:text="${company.name}" />
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div sec:authorize="hasAnyRole({'VMSYSOPS'})" class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btn_submit_edit" class="btn btn-primary"><i class="fa fa-save"></i>Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div sec:authorize="hasAnyRole({'VMSYSOPS'})" class="modal fade " id="modal_add_ip">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add IP</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" id="frm_add_ip" >
                        <div class="row">
                            <div class="col form-horizontal">
                                <input type="hidden" name="id">
                                <div class="form-group row">
                                    <label class="col-sm-4">IP</label>
                                    <input type="text" name="ip" class="col-sm-8 form-control form-control-sm" placeholder="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="submitAddIP(this)" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal_show_asset">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Asset Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6 form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-4">Asset Tag</label>
                                <p id="assetTag" class="col"></p>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Asset Name</label>
                                <p id="assetName" class="col"></p>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Category</label>
                                <p id="category" class="col"></p>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Status</label>
                                <p id="status" class="col"></p>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4">IP Management</label>
                                <p id="ipManagement" class="col"></p>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4">IP Host</label>
                                <p id="ipHost" class="col"></p>
                            </div>


                        </div>
                        <div class="col-sm-6 form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-4">PR Number</label>
                                <p id="prNumber" class="col"></p>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Purchase Date </label>
                                <p id="purchaseDate" class="col"></p>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Purchase Cost </label>
                                <p id="purchaseCost" class="col"></p>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Warranty </label>
                                <p id="warranty" class="col"></p>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Specification </label>
                                <p id="notes" class="col"></p>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Location </label>
                                <p id="location" class="col"></p>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4">Room </label>
                                <p id="room" class="col"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>

    </div>

    <div  class="modal fade " id="modal_upgrade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upgrade</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form " id="frm_upgrade" method="post">
                        <div class="row">
                            <div class="col-sm-12 form-horizontal">
                                <input type="hidden" name="id">
                                <div class="form-group row">
                                    <label class="col-sm-4">Name</label>
                                    <input readonly type="text" name="name" class="col-sm-8 form-control form-control-sm" placeholder="">
                                </div>

                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">CPU</label>
                                        <input type="number" name="socket" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">Socket</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4"></label>
                                        <input type="number" name="cpu" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">Core</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">Memory</label>
                                        <input type="number" name="memory" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">GB</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">Storage</label>
                                        <input type="number" name="storage" class="col-sm-2 form-control form-control-sm" placeholder="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">GB</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="input-group input-group-sm" >
                                        <label class="col-sm-4">Note</label>
                                        <textarea name="remark" class="form-control form-control-sm" cols="30" rows="3"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="submitUpgrade(this)" class="btn btn-primary"> <i class="fa fa-save"></i> Send Request</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade " id="modal_req_terminate">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">You will permanently delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form " id="frm_req_terminate">

                        <input type="hidden" name="id" >

                        <div class="form-group row">
                            <label class="col-sm-4">Note</label>
                            <textarea name="remark" cols="30" rows="3" class="form-control form-control-sm col-sm-8" ></textarea>
                        </div>


                    </form>
                </div>
                <div class="modal-footer ">

                    <button type="button" class="btn btn-danger" onclick="submitTerminate(this)" >Yes</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script>

        var privilege = [(${privilege})];
    </script>
    <script src="/dist/js/vmsysops.js"></script>
</section>

<!-- /.content -->
</html>