<html layout:decorate="~{Layout/aside}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<!-- Main content -->
<div layout:fragment="header" class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Role Access</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<section layout:fragment="content" class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4" data-select2-id="3">
                        <select class="select2select" id="select2role" data-placeholder="Select Role" style="width: 100%;" >
                            <option ></option>
                            <option  th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}" />
                        </select>
                    </div>
                </div>
                <div id="covertable" style="display: none">
                    <div class="row">
                        <div class="col">
                            <table id="tbl_asset" class="table table-bordered table-hover">
                                <thead>
                                <th>#</th>
                                <th>Access ID/Name</th>
                                <th>Description</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div id="overlaycontent" style="display:none" class="overlay"><i class="fas fa-2x fa-circle-notch fa-spin"></i></div>
        </div>
    </div>
    <script src="/dist/js/role-access.js"></script>
</section>

<!-- /.content -->
</html>