<html layout:decorate="~{Layout/aside}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<!-- Main content -->
<div layout:fragment="header" class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Users</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<section layout:fragment="content" class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-success my-2" data-target="#modal_add" data-toggle="modal"> <i class="fas fa-plus-square"></i> New</button>
                <div class="row">
                    <div class="col">
                        <table id="tbl_asset" class="table table-bordered table-hover">
                            <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Can Login ?</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade " id="modal_add">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form " id="frm_add" method="post">
                        <div class="row">
                            <div class="col form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3">Name</label>
                                    <input type="text" name="name" class="col-sm-5 form-control form-control-sm" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3">Email</label>
                                    <input type="text" name="email" class="col-sm-5 form-control form-control-sm" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3">Password</label>
                                    <input type="password" name="password" class="col-sm-5 form-control form-control-sm" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3">Role</label>
                                    <select name="role" multiple="multiple" data-placeholder="Select Role" class=" select2 col-sm-5 form-control form-control-sm select2select">
                                        <option></option>
                                        <option  th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}" />
                                    </select>
                                </div>

                                <div class="form-group row ">
                                    <label class="col-sm-3">Can Login</label>
                                    <div class="col-sm-5">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdENableYes" name="enable" value="1" checked>
                                            <label for="rdENableYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdENableNo" name="enable" value="0" >
                                            <label for="rdENableNo"> No</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="button" id="btn_submit_add" class="btn btn-primary"><i class="fa fa-circle-notch fa-spin" style="display: none"></i>Save changes</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade " id="modal_edit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" id="frm_edit" >

                        <input type="hidden" name="id" >

                        <div class="row">
                            <div class="col form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3">Name</label>
                                    <input type="text" name="name" class="col-sm-5 form-control form-control-sm" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3">Email</label>
                                    <input type="text" name="email" class="col-sm-5 form-control form-control-sm" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3">Password</label>
                                    <input type="password" name="password" class="col-sm-5 form-control form-control-sm" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3">Role</label>
                                    <select name="role" multiple="multiple" data-placeholder="Select Role" class=" select2 col-sm-5 form-control form-control-sm select2select">
                                        <option></option>
                                        <option  th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}" />
                                    </select>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-sm-3">Can Login</label>
                                    <div class="col-sm-5">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdEditENableYes" name="enable" value="1" checked>
                                            <label for="rdEditENableYes">Yes </label>
                                        </div>

                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdEditENableNo" name="enable" value="0" >
                                            <label for="rdEditENableNo"> No</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn_submit_edit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script src="/dist/js/user.js"></script>
</section>

<!-- /.content -->
</html>